{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% block content %}
  <h2>Buxfer transaction</h2>

  <div class="container">
    <div class="row">
      <div class="col">
        {% include "partials/detail_page_item.html" with label="Buxfer ID" value=object.buxfer_id %}
        {% include "partials/detail_page_item.html" with label="Transaction date" value=object.transaction_date %}
        {% include "partials/detail_page_item.html" with label="Transaction type" value=object.transaction_type %}
        {% include "partials/detail_page_item.html" with label="Amount" value=object.amount %}
        {% include "partials/detail_page_item.html" with label="Expense amount" value=object.expense_amount %}
        {% include "partials/detail_page_item.html" with label="Account ID" value=object.buxfer_account_id note=object.buxfer_account_name %}
        {% include "partials/detail_page_item.html" with label="Status" value=object.status %}
        {% include "partials/detail_page_item.html" with label="Bank transaction" value=object.bank_transaction.pk url_name="bank_detail" url_arg=object.bank_transaction.pk %}
        {% include "partials/detail_page_item.html" with label="Bank transaction ID" value=object.buxfer_bank_transaction_id %}
      </div>
      <div class="col">
        {% include "partials/detail_page_item_long.html" with label="Description" value=object.description %}
        {% include "partials/detail_page_item_long.html" with label="Tags" value=object.tags %}
        {% include "partials/detail_page_item_long.html" with label="Tag names" value=object.tag_names %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% include "partials/detail_page_item.html" with label="Account" value=object.account.account_number note=object.account.buxfer_account_id %}
        {% include "partials/detail_page_item.html" with label="From Account" value=object.from_account.account_number note=object.from_account.buxfer_account_id %}
      </div>
      <div class="col">
        {% include "partials/detail_page_item.html" with label="To account" value=object.to_account.account_number note=object.to_account.buxfer_account_id %}
        {% include "partials/detail_page_item_long.html" with label="Updated description" value=object.updated_description %}
      </div>
    </div>
    <pre>{{ object.raw_data_formatted }}</pre>
    {% if not object.bank_transaction %}
      {% render_table table %}
    {% endif %}
  </div>
  <button type="button" class="btn btn-primary" id="btnUpdateDescription"
          {% if object.description == object.updated_description %}disabled="disabled"{% endif %}>
    Update description
  </button>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script>
      const csrftoken = Cookies.get('csrftoken');
      const buxferUpdateDescription = () => {
          fetch("{% url 'buxfer_update_transaction' %}", {
              headers: {
                  "Content-Type": "application/json; charset=utf-8", "X-CSRFToken": csrftoken,
              },
              method: 'POST',
              body: JSON.stringify({
                  transaction_id: {{ object.pk }},
              })
          })
              .then(response => response.json())
              .then(data => buxfer_response_field.innerHTML = JSON.stringify(data, undefined, 4));
      };
      document.getElementById("btnUpdateDescription").addEventListener("click", buxferUpdateDescription);
  </script>
{% endblock %}
